@import "../font/iconfont.css?v=1";

/*reset*/
html, body{ width:100%; height:100%; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
form, fieldset, input, textarea, p, blockquote, th, td{
padding:0;
margin:0;
}
input,button{ outline: none; }
table{
border-collapse:collapse;
border-spacing:0;
}
fieldset, img{
border:0;
}
address, caption, cite, code, dfn, em, strong, th, var{
font-weight:normal;
font-style:normal;
}
ol, ul{
list-style:none;
}
caption, th{
text-align:left;
}
h1, h2, h3, h4, h5, h6{
font-weight:normal;
font-size:100%;
}
q:before, q:after{
content:"";
}
abbr, acronym{
border:0;
}

i{ font-style: normal; }
/*body字体*/
body{
font-family:Microsoft YaHei;
font-size:16px;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar{
width:0px;
background-color:#f5f5f5;
}

/*自定义全局class*/
.flex{display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */ display: -moz-box; /* Firefox 17- */ display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */ display: -moz-flex; /* Firefox 18+ */ display: -ms-flexbox; /* IE 10 */ display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */ -webkit-flex-direction: ro}
.textOverflow{ overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.icon-guanbi{ cursor: pointer; }
.hide{ display: none !important; }
.move-div{ box-sizing: border-box; }

/*侧栏内容*/
.wrap{ height:100%; width:100%; }
aside{ height:100%; width:250px; background: #1b1b1b; position:absolute; left:-251px; z-index: 1; }
aside .bar-info{ width: 100%; text-align: center; padding: 50px 0; }
aside .bar-info img{ display: block; border-radius: 50%; width: 80px; height: 80px; margin: 0 auto; }
aside .bar-info span{ color: #FFF; font-size: 20px; }
aside #control-element{ display:block; position:absolute; height:75px; width:18px; background: linear-gradient(#b944ee,#fe47a4); border-radius:0 20px 20px 0; top:0; bottom:0; margin:auto 0; right:-18px; font-size: 18px; color:#fff; line-height:75px; cursor:pointer; }
@keyframes aside-leftToright{
from{
transform:translateX(0);
}
to{
transform:translateX(100%);
}
}
@keyframes aside-rightToleft{
from{
transform:translateX(100%);
}
to{
transform:translateX(0);
}
}
.aside-leftToright{ -webkit-animation:aside-leftToright 400ms forwards; }
.aside-rightToleft{ -webkit-animation:aside-rightToleft 400ms forwards; }
.drag-content > div{ width: 100%; box-sizing: border-box; color: #FFF; font-size: 22px; padding: 15px 20px; }
.drag-content > div span{ font-size: 22px; display: inline-block; width: 30px; height: 30px; margin-right: 15px; }
.drag-content > div:hover{ background: linear-gradient(to right,#fe47a4,#b944ee); cursor: pointer; }
.label-switch {
display: inline-block;
vertical-align: middle;
width: 52px;
border-radius: 16px;
box-sizing: border-box;
height: 26px;
position: relative;
cursor: pointer;
-ms-flex-item-align: center;
-webkit-align-self: center;
align-self: center;
}
.label-switch input[type="checkbox"] {
display: none;
}
.label-switch .checkbox {
width: 52px;
border-radius: 16px;
box-sizing: border-box;
height: 26px;
background: #e5e5e5;
z-index: 0;
margin: 0;
padding: 0;
-webkit-appearance: none;
-moz-appearance: none;
-ms-appearance: none;
appearance: none;
border: none;
cursor: pointer;
position: relative;
-webkit-transition-duration: 300ms;
transition-duration: 300ms;
}
.label-switch .checkbox:before {
content: ' ';
position: absolute;
left: 2px;
top: 2px;
width: 48px;
border-radius: 16px;
box-sizing: border-box;
height: 22px;
background: #fff;
z-index: 1;
-webkit-transition-duration: 300ms;
transition-duration: 300ms;
-webkit-transform: scale(1);
transform: scale(1);
}
.label-switch .checkbox:after {
content: ' ';
height: 22px;
width: 22px;
border-radius: 22px;
background: #fff;
position: absolute;
z-index: 2;
top: 2px;
left: 2px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
-webkit-transform: translateX(0px);
transform: translateX(0px);
-webkit-transition-duration: 300ms;
transition-duration: 300ms;
}
.label-switch input[type="checkbox"]:checked + .checkbox {
background: linear-gradient(to right,#fe47a4,#b944ee);
}
.label-switch input[type="checkbox"]:checked + .checkbox:after {
-webkit-transform: translateX(26px);
transform: translateX(26px);
}
.label-switch input[type="checkbox"]:checked + .checkbox:before {
-webkit-transform: scale(0);
transform: scale(0);
}
.ctrl-move-onOff,.ctrl-scale-onOff{ font-size: 20px; height: 30px; position: absolute; bottom: 10px; width: 100%; color: #FFF; padding-left: 20px; box-sizing: border-box; }
.ctrl-scale-onOff{ bottom: 50px; }
.ctrl-move-onOff > span,.ctrl-scale-onOff > span{ padding-right: 40px; }
/*聊天层内容*/
.main-content{ width: 1920px; height: 100%; position: relative; z-index: 0; overflow: hidden; background-color: #000; background-repeat: no-repeat; background-position: center; background-size: 100%; }
.redpacket-content{ position: absolute; width: 30%; height: 200px; border: 2px dashed red; text-align: right; }

/*土豪榜*/
.rank-content{ position: absolute; background: #1b1b1b; border-radius: 20px; z-index: 4; }
.rank-content-wrap{ overflow: hidden; height: 100%; padding-bottom: 40px; border-radius: 0 0 20px 20px; box-sizing: border-box; }
.rank-content .rank-top-msg{ width: 100%; margin: 0 auto; padding: 20px; box-sizing: border-box; align-items: center; justify-content: center; -webkit-align-items: center; -webkit-justify-content: center; }
.rank-content .rank-top-msg img{ width: 60px; height: 60px; border-radius: 50%; margin-right: 10px; flex-shrink: 0;-webkit-flex-shrink: 0; }
.rank-content .rank-top-msg div{ text-align: center; width: 100%; }
.rank-content .rank-top-msg h3{ font-size: 24px; color: #FFF; font-weight: bold; width: 100%; }
.rank-content .rank-top-msg p{ font-size: 18px; color: #FFF; }
.rank-content .rank-content-wrap > span{ position: absolute; color: #919191; background: #1b1b1b; overflow: hidden; width: 100%; bottom: 0; border-radius: 0 0 20px 20px; display: block; width: 100%; text-align: center; padding: 10px 0;z-index: 4; }
.rank-content ul{ width: 100%; overflow: auto; }
.rank-content ul li{ width: 100%; padding: 5px 20px; box-sizing: border-box; position: relative; z-index: 1; align-items: center; -webkit-align-items: center; }
.rank-content ul li .bg-percentage{ position: absolute; left: 0; top: 0; height: 100%; z-index: 0; }
.rank-content ul li .rank-user-status{ position: relative; width: 100%; font-size: 24px; align-items:center; -webkit-align-items: center; color: #FFF; z-index: 1; }
.rank-content ul li .rank-user-status img{ width: 50px; height: 50px; border-radius: 50%; flex-shrink: 0; -webkit-flex-shrink: 0; }
.rank-content ul li .rank-user-status i{ font-style: normal; display: block; width: 100%; margin: 0 10px; }
.rank-content ul li .rank-user-status > span{ font-size: 24px; }
.rank-content ul li:first-of-type .bg-percentage{  background: #F500CE; }
.rank-content ul li:nth-of-type(2) .bg-percentage{  background: #B246F4; }
.rank-content ul li:nth-of-type(3) .bg-percentage{  background: #5773E9; }
.rank-content ul li:nth-of-type(4) .bg-percentage{  background: #7926FF; }
.rank-content ul li:nth-of-type(5) .bg-percentage{  background: #52E8D4; }
.rank-content ul li:nth-of-type(6) .bg-percentage{  background: #FFA1DB; }

/*二维码*/
.hiChat-content{ position: absolute; border-radius: 20px; background: linear-gradient(to right bottom,#f404c9,#333397); padding: 20px; box-sizing: border-box; z-index: 1; }
.hiChat-content .qrcode-imgwrap{ width: 130px; margin-right: 10px; border-radius: 10px; padding: 8px; background: #FFF; box-sizing: border-box; }
.hiChat-content .qrcode-imgwrap img{ width:100%; }
.hiChat-content .hiChat-text{ font-size: 0; color: #FFF; text-align: center; }
.hiChat-content .hiChat-text p{ font-size: 36px; }
.hiChat-content .hiChat-text p:last-of-type{ font-size: 30px; font-weight: bold; }
.hiChat-content .hiChat-text span{ display: block; font-size: 16px; margin-top: 5px; border-bottom: 1px solid #FFF; font-style: italic; }

/*欢迎语层*/
.welcome-content{ position: absolute; color: #FFF; font-size: 50px; padding: 10px 0; text-align: center; z-index: 3; }
.in-welecome-text{ height: 100%; width: 100%; overflow: hidden; position: relative; }
.in-welecome-text span{ position: absolute; width: 487px; left: -100%; display: block; white-space: nowrap; text-align: center; top: 0; }
.text-scroll{ animation: textMove 8s linear infinite; }
@keyframes textMove{
    from{
        transform: translate(-100%);
    }
    to{
        transform: translate(100%);
    }
}

/*聊天层*/
.chat-content{ position: absolute; }
.message-content-wrap{ height: 100%; overflow: auto; }
.chat-content .message-content{ position: relative; width: 100%; padding: 10px; margin-bottom: 15px; box-sizing: border-box; border-radius: 50px; background: linear-gradient(to right,#e04fd2,#25e2e0); align-items: flex-start; }
.chat-content .message-content:last-of-type{ margin-bottom: 0; }
.chat-content .message-content > img{ height: 80px; width: 80px; border-radius: 50%; margin-right: 10px; flex-shrink: 0; }
.chat-content .message-content .message-user-info{ width: 85%; color: #FFF; }
.chat-content .message-content .message-user-info i{ max-width: 70%; font-style: normal; display:block; font-size: 24px; }
.chat-content .message-content .message-user-info > span{ display: block; font-size: 36px; letter-spacing: 2px; font-weight: bold; }
.chat-content .message-content .send-time{ position: absolute; top: 10px; color: #FFF; font-size: 24px; right: 60px; }
.chat-content .pa-hasimg-content .message-user-info > span,.chat-content .pa-hastext-content .message-user-info > span{ color: #ffff01; }
.chat-content .pa-hasimg-content .message-user-info > img{ margin-top: 10px; min-height: 25%; max-width: 80%; max-height: 280px; }

/*广告层*/
.adv-content{ position: absolute; border-radius: 10px 10px 0 0; background-color: #1b1b1b; }
.adv-content > h3{ width: 92%; height: 30px; margin: 0 auto; color: #FFF; text-align: center; border-bottom: 2px solid #535353; font-size: 24px; padding: 10px 0; margin-bottom: 5px; }
.adv-content img{ width: 100%; }
.adv-img1,.adv-img2{ width: 100%; height: calc(100% - 55px); height: -webkit-calc(100% - 55px); overflow: hidden; position: relative; }
.adv-img1 > img,.adv-img2 > img{ position: absolute; opacity: 0; }
.adv-img1 > img:first-of-type,.adv-img2 > img:first-of-type{ opacity: 1; }

/*图片轮播*/
.carousel-content{ position: absolute; }
.carousel-content > img{ width: 100%; height: 100%; border-radius: 20px; position: absolute; }
.fade-carousel > img{ opacity: 0; }
.fade-carousel > img:first-of-type{ opacity: 1; }
.fade-In{ animation: fadeIn 1s forwards; }
.fade-Out{ animation: fadeOut 1s forwards; }
@keyframes fadeIn{
from{
    opacity: 0;
}
to{
    opacity: 1;
}
}
@keyframes fadeOut{
from{
opacity: 1;
}
to{
opacity: 0;
}
}

/*大屏幕设置*/
.screen-setting-panel{ overflow: hidden; position: absolute; width: 700px; height: 500px; left: 0; top: 0; right: 0; bottom: 0; margin: auto; background-color: #1b1b1b; border-radius: 5px; z-index: 1; }
.settint-panel-title{ height: 40px; width: 100%; background-color: #333333; line-height: 40px; color: #FFF; padding: 0 5px 0 20px; box-sizing: border-box; }
.settint-panel-title i{ float: right; padding: 0 15px; }
.panel-content{ height: calc(100% - 40px); height: -webkit-calc(100% - 40px); width: 100%; }
.panel-list{ float: left; width: 20%; height: 100%;padding-top: 15px; border-right: 1px solid #333; box-sizing: border-box; }
.panel-list li{ width: 100%; padding: 15px 0; color: #FFF; text-align: center; }
.panel-list li:hover,.screen-setting-panel .panel-list li.active{ background: linear-gradient(to right,#fe47a4,#b545f1); cursor: pointer; }
.panel-setting-input{ width: 80%; height: 100%; float: left; position: relative; }
.panel-setting-input .pa-setting,.screen-setting-panel .panel-setting-input .screen-setting{ width: 100%; height: 98%; overflow: auto; }
.panel-setting-input .pa-set-input,.screen-setting-panel .panel-setting-input .screen-bg-set{ font-size: 0; padding: 30px 30px 0 30px; box-sizing: border-box; color: #FFF; }
.panel-setting-input .pa-set-input span,.screen-setting-panel .panel-setting-input .screen-bg-set span{  font-size: 16px; flex-shrink: 0; -webkit-flex-shrink: 0; margin-right: 40px; }
.panel-setting-input .pa-set-input label,.screen-setting-panel .panel-setting-input .screen-bg-set label{ flex-basis: 0; display: inline-block; margin-right: 40px; font-size: 16px; }
.panel-setting-input .pa-set-input label:last-of-type,.screen-setting-panel .panel-setting-input .screen-bg-set label:last-of-type{ margin-right: 0; }
.panel-setting-input .pa-set-input label > *,.screen-setting-panel .panel-setting-input .screen-bg-set label > *{ display: inline-block; vertical-align: middle; }
.panel-setting-input .pa-set-input input[type="radio"],.screen-setting-panel .panel-setting-input .screen-bg-set input[type="radio"]{ width: 18px; height: 18px; }
.panel-setting-input .save{ position: absolute; bottom: 30px; right: 30px; font-size: 18px; border: none; color: #FFF; background: linear-gradient(to right,#fe47a4,#b545f1); padding:3px 20px; border-radius: 12px/50%; }
.panel-setting-input .screen-setting .brightness{ align-items: center; -webkit-align-items: center; padding: 30px 30px 0 30px; color: #FFF; }
.panel-setting-input .screen-setting .brightness input[type="range"]{ margin-left: 50px; }
.panel-setting-input .screen-setting .rp-set,.panel-setting-input .screen-setting .screen-website,.panel-setting-input .screen-setting .programme-name{ padding: 30px 30px 0 30px; color: #FFF; }
.panel-setting-input .screen-setting .rp-set span,.panel-setting-input .screen-setting .screen-website span,.panel-setting-input .screen-setting .programme-name span{ display: block; }
.panel-setting-input .screen-setting .rp-set input{ width: 80px; border: none; border-radius: 5px; font-size: 16px; margin: 0 5px; margin-top: 10px; text-align: center; padding: 5px 0; }
.panel-setting-input .screen-setting .rp-set i{ padding: 0 5px; }
.panel-setting-input .screen-setting .screen-website input,.panel-setting-input .screen-setting .programme-name input{ border: none; font-size: 16px; border-radius: 5px; margin-top: 10px;padding: 5px 10px; }

/*移动层标题、设置移入显示样式*/
.moveDiv-nameIco{ position: absolute; top: -60px; left: 0; height: 60px; font-size: 0; width: 100%; justify-content: space-between; align-items: flex-end; }
.moveDiv-nameIco h3{ color: #FFF; font-size: 26px; }
.moveDiv-nameIco span{ display: inline-block; vertical-align: middle; background: #FFF; cursor: pointer; color: #000; width: 25px; height: 25px; margin-left: 10px; text-align: center; line-height: 25px; font-weight: bold; font-size: 16px; }
.moveDiv-nameIco span:first-of-type{ margin-left: 0; }
.setClose-ico{ text-align: right; }
.setClose-ico p{ display: block; }
.moveDiv-nameIco .setClose-ico p i{ font-size: 14px; margin-bottom: 3px; display: inline-block; margin-right: 5px; color: #FFF; background:#393939; padding: 5px 10px; border-radius: 5px; }
.moveDiv-nameIco .setClose-ico p i:last-of-type{ margin-right: 0; cursor: n-resize }

/*移动层配置*/
.moveDiv-config{ background: rgba(255,255,255,0.3); width: 100%; height: 100%; position: fixed; left: 0; top: 0; justify-content: center; align-items: center; z-index: 10; }
.moveDiv-config > div{ background: #222222; }
.moveDiv-config  .settint-panel-title{ font-size: 20px; }
.moveDiv-config > div select{ font-size: 20px; padding: 0 10px }
.moveDiv-config > div .settint-panel-title span{ margin-right: 100px; }
.moveDiv-config > div{ border-radius: 5px; overflow: hidden; }
.rank-config-content,.chat-config-content,.qrcode-config-content,.welecome-config-content,.carousel-config-content,.logo-config-content,.adv1-config-content{ padding: 25px; }
.rank-config-content > div,.chat-config-content > div,.qrcode-config-content > div,.welecome-config-content > div,.carousel-config-content > div,.logo-config-content > div,.adv1-config-content > div{ margin-bottom: 15px; }
.rank-config-content > div:last-of-type,.chat-config-content > div:last-of-type,.qrcode-config-content > div:last-of-type,.welecome-config-content > div:last-of-type,
.carousel-config-content > div:last-of-type,.logo-config-content > div:last-of-type,.adv1-config-content > div:last-of-type{ margin-bottom: 0; }
.rank-config-content div > span,.chat-config-content  div > span,.fontSize p span,.scroll-time p span,.qrcode-config-content div > span,.welecome-config-content div > span,
.carousel-config-content div > span,.logo-config-content div > span,.adv1-config-content div > span{ color: #FFF; padding-right: 25px; font-size: 20px; }
.rank-title input,.welecome-text input,.adv1-title input{ border: none; border-radius: 5px; font-size: 18px; padding: 5px 10px; width: 200px; box-sizing: border-box; }
.update-fre,.width-per,.version,.height-per{ color: #FFF; font-size: 18px; }
.update-fre label span,.update-fre label input,.version label span,.version label input{ display: inline-block; vertical-align: middle; }
.update-fre label input,.version label input{ margin-left: 20px; width: 16px; height: 16px; }
.update-fre label:first-of-type input,.version label:first-of-type input{ margin-left: 0; }
.show-peoplenum select{ min-width: 50px; }
.width-per input,.height-per input{ border: none; font-size: 20px; width: 50px; margin-right: 5px; text-align: center; }
.fontSize p,.scroll-time p{ font-size: 18px; color: #FFF; margin-bottom: 10px; }
.fontSize input,.scroll-time input{ width: 100%; margin-top: 5px; }
.message-scroll .label-switch{ margin-left: 100px; }
.carousel-fre,.logo-upload{ align-items: center; -webkit-align-items: center; }
.logo-upload i{ display: block; width: 80px; height: 28px; line-height: 28px; font-size: 18px; text-align: center; background: #FFF; border-radius: 5px; margin-left: 20px; cursor: pointer; }
.upload-advimg ul{ margin-top: 10px; }
.upload-advimg ul li{ position: relative; width: 120px; height: 120px; background: #FFF; margin-right: 10px; font-size: 60px; line-height: 120px; text-align: center; font-weight: bold; }
.upload-advimg ul li:last-of-type{ margin-right: 0; }
.upload-advimg ul li img{ width: 100%; position: absolute; top:0; right: 0; left: 0; bottom: 0; margin: 0 auto; }